{%  extends 'base.html' %}

{% block content %}

<div class="column is-half mx-auto">
  <h3 class="title is-3 has-text-centered">{{ legend }}</h3>
  <form method="POST", action="">
    {{ form.hidden_tag() }}
    
    <div class="field">
        {{ form.title.label(class="label") }}
      <div class="control">

        {% if form.title.errors %}
          {{ form.title(class="input is-small is-invalid") }}
          <small class="message is-danger">
            {% for error in form.title.errors %}
            {{ error }}
            {% endfor %}
          </small>
        {% else %}
          {{ form.title(class="input is-small") }}
        {% endif %}

      </div>
    <div>

    <div class="field">
        {{ form.content.label(class="label") }}
      <div class="control">

        {% if form.content.errors %}
          {{ form.content(class="input is-small is-invalid") }}
          <small class="message is-danger">
            {% for error in form.content.errors %}
            {{ error }}
            {% endfor %}
          </small>
        {% else %}
          {{ form.content(class="textarea is-small") }}
        {% endif %}
        
      </div>
    <div>

    <div class="field mt-2">
      <div class="control">
        {{ form.submit(class="button is-primary") }}
      </div>
    </div>

  </form>

</div>

{% endblock %}
